* {
    align-items: center;
    font-size: calc(1vh + 1vw);
}

body{
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    margin: 0px;
    z-index: -3;
    background-color: #333;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Images/background.png'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/* Main header */
header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    min-height: 50px;
    transition: 0.5s ease;
}
.header.scrolled {
    background: #fff; /* Change the background color when scrolled */
}

a {
    text-decoration: none;
    color: black;
}


.left-side {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.logo {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    height: 10vh;
    min-height: 30px;
    width: auto;
}

.logo_name a{
    display: flex;
    
}

.logo_name div{
    color: #0a9c9b;
    transform: translateY(5px);
}

.nav-links{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    
}

.nav-links a {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    border: 2px solid #000;
    border-radius: 10px;
}

.account a{
    color: #FFF;
    background-color: #000;
    border-radius: 10px;
    padding: 0.5vw;
    margin-right: 10px;
}

/* main page */


/* Main-containt */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the overlay color and transparency */
    z-index: -1;
}
/* Main Content Styling */
.main-content {
    max-width: 800px;
    height: 90%;
    margin: 20px auto;
    text-align: center;
}

.company-description {
    margin-bottom: 20px;
}

.company-description h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(244, 244, 244, 0.3); 
}

.company-description p {
    color:  #919191;
    color: #f2f2f2;
    font-size: 24px;
}

.service-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon {
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(2);
}

.icon img {
    width: 40px; /* Adjust the size based on your design */
    height: 40px;
}

.icon p {
    margin-top: 10px;
    color: #f4f4f4;
}

/* Additional Content Styling */
.additional-content {
    margin-top: 20px;
    /* Add additional styling as needed */
}


/* map location selected */

#overlay-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* map stuff */
#world-map {
    position: relative;
    width: 100%;
    display: flex; /* Center the map horizontally */
    justify-content: center;
}
  
#world-map img {
    padding: 0;
    border: 5px solid white;
    border-radius: 10px;
    z-index: 1;
    display: block; /* Treat the image as a block-level element */
}
  
  
/* destinations */

.destination-section{
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; 
    margin:  5vh 2vw ;
    border: 2px solid #fff;
    border-radius: 2vw;
    position: relative; /* bach ma yro7ch el title fo9ha ??? */
}

.section-title {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    text-align: center;
}

.destinations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.destination-square {
    width: 20%; /* Adjust as needed */
    height: 100%;
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
}

.destination-image img {
    width: calc(100% - 4px);
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
}

.destination-info {
    padding: 0 10px 10px 10px;
    text-align: center;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #1d2b3a;
    color: white;
    cursor: pointer;
}

/* Hotel css */

.hotel-section{
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; 
    margin:  10vh 2vw 5vh 2vw;
    border: 2px solid #fff;
    border-radius: 2vw;
    position: relative; /* bach ma yro7ch el title fo9ha ??? */
}

.hotel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hotel-square {
    width: 20%; /* Adjust as needed */
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
}

.hotel-image img {
    width: calc(100% - 4px);
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
}

.hotel-info {
    padding: 10px;
    text-align: center;
}

/* register page */
.register {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #1d2b3a;
    color: white; /* text color white */
}
.login-input input{
    border-radius: 10px;
    width: 100%;
}
span{
    position: absolute;
    padding-left: 10px;
    left: 0;
}

/* footer */

.background2-image {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: url('./Images/background Fin.png'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}
