* {
    padding: 5px 2px 5px 2px;
    align-items: center;
    font-size: calc(1vh + 1vw);
}

body,html{
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #222;
}

header{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    min-height: 50px;
}

a {
    text-decoration: none;
    color: black;
}


.left-side {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.logo {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    height: 10vh;
    min-height: 30px;
    width: auto;
}

.logo_name a{
    display: flex;
    
}

.logo_name div{
    color: #0a9c9b;
    transform: translateY(5px);
}

.nav-links{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    
}

.nav-links a {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    border: 2px solid #000;
    border-radius: 10px;
}

.account a{
    color: #FFF;
    background-color: #000;
    border-radius: 10px;
    padding: 0.5vw;
}

/* main page */

img[usemap], map area[shape]{
    outline-color: #F00;
}

#world-map {
    position: relative;
    width: 100%;
    display: flex; /* Center the map horizontally */
    justify-content: center;
}
  
#world-map img {
    padding: 0;
    border: 5px solid white;
    border-radius: 10px;
    z-index: 1;
    display: block; /* Treat the image as a block-level element */
}
  
area {
    position: absolute;
    z-index: 2; /* Set a higher z-index for the areas */
}
  
/* Define the border properties for the hover effect */
area:hover {
    outline: 2px solid white;
}
  
  
/* destinations */

.destination-section{
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; 
    margin:  5vh 2vw ;
    border: 2px solid #fff;
    border-radius: 2vw;
    position: relative; /* bach ma yro7ch el title fo9ha ??? */
}

.section-title {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    text-align: center;
}

.destinations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.destination-square {
    width: 20%; /* Adjust as needed */
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
    background-image: url("./Images/Dubai.jpg");
    background-size: cover;
}

.destination-image img {
    width: calc(100% - 4px);
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
}

.destination-info {
    padding: 0 10px 10px 10px;
    text-align: center;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #1d2b3a;
    color: white;
    cursor: pointer;
}

/* Hotel css */

.hotel-section{
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; 
    margin:  10vh 2vw 5vh 2vw;
    border: 2px solid #fff;
    border-radius: 2vw;
    position: relative; /* bach ma yro7ch el title fo9ha ??? */
}

.hotel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hotel-square {
    width: 20%; /* Adjust as needed */
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
}

.hotel-image img {
    width: calc(100% - 4px);
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
}

.hotel-info {
    padding: 10px;
    text-align: center;
}

/* register page */
.register {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #1d2b3a;
    color: white; /* text color white */
}
.login-input input{
    border-radius: 10px;
    width: 100%;
}
span{
    position: absolute;
    padding-left: 10px;
    left: 0;
}