body{
    background-image: url(/assets/Images/background.png);
    background-size: cover;
}
#space{
    height: 10vh;
}
.container{
    min-height: 100vh;
    margin: 5vh 3vw;
    display: flex;
}
#cat{
    border: 2px solid orange;
    display: flex;
    align-items: center;
    width: 20px;
    height: 14.97px;
  }
  .vector-two {
    height: 100%;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-1-four {
    margin-bottom: 81px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    max-width: 78px;
    color: var(--white);
    margin-right: 40px;
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .hotels {
    max-width: 99px;
    color: var(--white);
    margin-right: 40px;
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .distination {
    max-width: 170px;
    color: var(--white);
    margin-right: 40px;
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .sittings {
    max-width: 117px;
    color: var(--white);
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .populaires {
    max-width: 167px;
    color: var(--white);
    text-decoration: underline;
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .frame-2 {
    background-color: var(--transparent-gainsboro);
    margin-top: 23px;
    margin-right: 22px;
    overflow: hidden;
    border-radius: 26px;
    padding: 5.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--white);
  }
  .register {
    max-width: 129px;
    color: var(--white);
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .frame-3 {
    background-color: var(--transparent-gainsboro);
    margin-top: 23px;
    overflow: hidden;
    border-radius: 26px;
    padding: 5.5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--white);
  }
  .sign-in {
    max-width: 106px;
    color: var(--white);
    font-family: var(--poppins-32-regular-family);
    font-size: var(--poppins-32-regular-size);
    font-weight: var(--poppins-32-regular-weight);
    line-height: var(--poppins-32-regular-line-height);
  }
  .frame-7 {
    width: 1398px;
    height: 1631px;
    position: absolute;
    right: 0;
    bottom: -126px;
  }