* {
    align-items: center;
    box-sizing: border-box;
    max-width: 100vw;
}
body{
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    z-index: -3;
    background-color: #154d52;
    background: linear-gradient(to bottom, #154d52 ,#177b8b);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: hsl(190, 12%, 48%);
}
  
::-webkit-scrollbar-thumb {
    background-color: hsl(190, 12%, 36%);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(190, 8%, 60%);
}


/*=============== Main header ===============*/

header{
    background-color: transparent;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    padding: 0 1vw;
    align-items: center;
    min-height: 50px;
    transition: 0.5s ease;
    z-index: 1000;
}
.header.scrolled {
    background: #fff; /* Change the background color when scrolled */
    color: #000;
}

.header a {
    text-decoration: none;
    color: #FFF;
}

.header.scrolled a{
    color: #000;
}

.left-side {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.logo {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    height: 10vh;
    min-height: 30px;
    width: auto;
    transition: 0.3s;
}

.logo_name a{
    display: flex;
    
}

.logo_name div{
    color: #0a9c9b;
    transform: translateY(5px);
}

.nav-links{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    
}

.nav-links a {
    /*border: 2px solid transparent;
    border-radius: 10px;*/
    transition: transform 0.3s;
}

.nav-links a:hover {
    /*border: 2px solid #000;
    border-radius: 10px;*/
    border-bottom: 2px solid white;
    transform: translateY(-10%);
}

.header.scrolled .nav-links a:hover {
    border-bottom: 2px solid black;
}
.account{
    display: flex;
}
.right-side{
    display: flex;
}

.account a{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.5vw;
    margin-right: 10px;
    transition: 0.3s ease;
}

.header.scrolled .account a{
    color: #000;
    border: 2px solid #000;
}

.account a:hover{
    color: #000;
    background-color: #fff;
}
.header.scrolled .account a:hover{
    color: #FFF;
    background-color: #000;
}

#menu-icon{
    display: none;
    margin-right: .50rem;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s ;
}

#menu-icon:hover{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.header.scrolled #menu-icon:hover{
    background-color: rgba(0,0,0,0.1);
}

#menu-icon circle,
#menu-icon rect{
    fill: white;
    transition: fill 0.3s;
}
.header.scrolled #menu-icon circle,
.header.scrolled #menu-icon rect {
  fill: black;
}

.mobile-header {
    display: none;
}
@media screen and (max-width: 800px) {
    #menu-icon {
      display: block;
      
    }
    .nav-links{
        display: none;
    }
    .nav-links.show {
        display: flex; 
        flex-direction: column; 
        margin-left: 0;
        right: 0%;
        top: max(10vh, 50px);
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        border: 2px solid #000;
        border-radius: 0 0 0 10%;
        padding: 10px;
        align-items: start;
        gap: 15px;
        min-width: 150px;
    }
    .header.scrolled .nav-links {
        background-color: white;
    }
}
@media screen and (max-width: 400px) {
    #menu-icon {
      display: block;
    }
    .nav-links{
        display: none;
    }
    .nav-links.show{
        display: none;
    }
    .mobile-header.show {
        display: block;
        right: 0;
        top: max(10vh, 50px);
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        border: 2px solid #fff;
        border-radius: 0 0 0 10%;
        padding: 10px;
        transition: 0.3s ease;
    }
    .header.scrolled .mobile-header.show{
        background-color: white;
        border: 2px solid #000;
    }
    .mobile-header .mobile-nav-links{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        margin-bottom: 20px;
    }
    .mobile-header .mobile-account a{
        border: 2px solid white;
        border-radius: 10px;
        padding: 3px;
        margin-right: 10px;
    }
    .header.scrolled .mobile-account a{
        border: 2px solid #000;
    }
    .account{
        display: none;
    }
}
/*=============== Main page ===============*/

/* Main-containt image+overlay */

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/background.png'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the overlay color and transparency */
    z-index: -1;
}

/* Main Content paragraph */
.main-content {
    position: relative;
    max-width: 800px;
    height: 70%;
    margin: 15vh auto;
    text-align: center;
}

.company-description {
    position: absolute;
    top: 5%;
    padding: 0 5vw;
}

.company-description h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(244, 244, 244, 0.3); 
}

.company-description p {
    color:  #919191;
    color: #f2f2f2;
    font-size: 24px;
}



.service-icons {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: auto;
    bottom: 0;
    width: 100%; 
}

.icon {
    cursor: pointer;
    margin: 25px;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.5);
}

.icon img {
    width: 40px; /* Adjust the size based on your design */
    height: 40px;
}

.icon p {
    margin-top: 10px;
    color: #f4f4f4;
}

@media screen and (max-width: 800px) {
    .company-description{
        top: 20%;
    }
    .company-description h2 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 15px;
        text-shadow: 2px 2px 4px rgba(244, 244, 244, 0.3); 
    }
    
    .company-description p {
        color:  #919191;
        color: #f2f2f2;
        font-size: 18px;
    }
    .icon {
        cursor: pointer;
        margin: 15px;
        transition: transform 0.2s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 400px) {
    .company-description{
        top: 20%;
    }
    .company-description h2 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
        text-shadow: 2px 2px 4px rgba(244, 244, 244, 0.3); 
    }
    
    .company-description p {
        color:  #919191;
        color: #f2f2f2;
        font-size: 12px;
    }
    .icon {
        cursor: pointer;
        margin: 10px;
        transition: transform 0.2s ease-in-out;
    }
    
    .icon:hover {
        transform: scale(1.2);
    }
    
    .icon img {
        width: 24px; /* Adjust the size based on your design */
        height: 24px;
    }
}


/* map location selected */

#overlay-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* map stuff */
#world-map {
    position: relative;
    width: 100%;
    display: flex; /* Center the map horizontally */
    justify-content: center;
}
  
#world-map img {
    width: 800px;
    height: 533px;
    padding: 0;
    border: 5px solid white;
    border-radius: 10px;
    z-index: 1;
    display: block; /* Treat the image as a block-level element */
}
  
.polygon{
    position: absolute;
    z-index: 2;
    align-items: center;
}
#myCanvas{
    position: absolute;
    width: 800px;
    height: 533px;
    border: 5px solid black;
    transform: translate(-50%,-50%);
}
  
.section{
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; 
    margin:  5vh 2vw ;
}

/* destinations */

.destination-section{
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; 
    margin:  5vh 2vw ;
}

.section_title {
    font-size: 2rem;
    font-weight: 200;            
    color: hsl(190, 24%, 95%);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}


.destinations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.destination-square {
    width: 20%; /* Adjust as needed */
    height: 100%;
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
}

.destination-image img {
    width: calc(100% - 4px);
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
}

.destination-info {
    padding: 0 10px 10px 10px;
    text-align: center;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #1d2b3a;
    color: white;
    cursor: pointer;
}

/* Hotel css */

.hotels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

/*=============== Main footer ===============*/
footer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
}

footer div{
    margin: 10px 30px;
}

.footer-background {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/background Fin.png'); /* Add your image URL here */
    background-size: cover;
    z-index: -1;
}


footer .rights {
    display: flex;
    justify-content: space-between;
}

footer a{
    color: hsl(190, 8%, 60%);;
    text-decoration: none;
}

footer a:hover{
    color: hsl(190, 4%, 87%);
}

#map-selector{
    position: relative;
}