*{
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
}

.pass{
    position:relative;
    font-size:0.8vw;
    font-weight: bolder;
    text-wrap: nowrap;
    width: 40%;
    margin: auto;
}
.pass img{
    width: 100%;
    height: auto;
}
#name{
    position: absolute;
    top: 42%;
    left: 19%;
}
#fligth{
    position: absolute;
    top: 34%;
    left: 15%;
}
#destination{
    position: absolute;
    top: 34%;
    left: 30%;
    word-spacing: 5vw;
}
#date{
    position: absolute;
    top:50%;
    left: 11.2%;
    word-spacing: 3.2vw;
}