/* Only the header css*/
* {
  align-items: center;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* Set default color for links to black because blue is too annoying*/
a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgba(26, 14, 14, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 12vh;
  width: 100vw;
  padding: 0 1vw;
  align-items: center;
  min-height: 50px;
  transition: 0.5s ease;
  z-index: 1000;
}

.header.scrolled {
  background: #fff; /* Change the background color when scrolled */
  color: #000;
}

.header a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header.scrolled a {
  color: #000;
}

.left-side {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.logo {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.logo img {
  height: 10vh;
  min-height: 30px;
  width: auto;
  height: 10vh;
  transition: 0.3s;
}

.logo_name a {
  display: flex;
}

.logo_name div {
  color: #0a9c9b;
  transform: translateY(5px);
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 100px;
}

.nav-links a {
  /*border: 2px solid transparent;
    border-radius: 10px;*/
  transition: transform 0.3s;
}

.nav-links a:hover {
  /*border: 2px solid #000;
    border-radius: 10px;*/
  border-bottom: 2px solid white;
  transform: translateY(-10%);
}

.header.scrolled .nav-links a:hover {
  border-bottom: 2px solid black;
}
.account {
  display: flex;
}

.right-side {
  display: flex;
}

.account a {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5vw;
  margin-right: 10px;
  transition: 0.3s ease;
}

.header.scrolled .account a {
  color: #000;
  border: 2px solid #000;
}

.account a:hover {
  color: #000;
  background-color: #fff;
}
.header.scrolled .account a:hover {
  color: #fff;
  background-color: #000;
}
/* this stupid door svg took forever */

#theDoor {
  margin-right: 0.6rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s ease;
}

.account svg * {
  stroke: white;
}

#theDoor:hover {
  background-color: #fff;
}

.account #theDoor:hover svg * {
  stroke: black;
}

.header.scrolled #theDoor {
  border: 2px solid #000;
}
.header.scrolled svg * {
  stroke: black;
}

.header.scrolled #theDoor:hover {
  border: 2px solid transparent;
  background-color: #000;
}

.header.scrolled #theDoor:hover svg * {
  stroke: white;
}

/* end of door svg */

#menu-icon {
  display: none;
  margin-right: 0.5rem;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s;
}

#menu-icon:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.header.scrolled #menu-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#menu-icon circle,
#menu-icon rect {
  fill: white;
  transition: fill 0.3s;
}
.header.scrolled #menu-icon circle,
.header.scrolled #menu-icon rect {
  fill: black;
}

#space {
  height: 10vh;
}

.mobile-header {
  display: none;
}
@media screen and (max-width: 800px) {
  #menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-links.show {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    right: 0%;
    top: max(10vh, 50px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #000;
    border-radius: 0 0 0 10%;
    padding: 10px;
    align-items: start;
    gap: 15px;
    min-width: 150px;
  }
  .header.scrolled .nav-links {
    background-color: white;
  }
}
@media screen and (max-width: 400px) {
  #menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-links.show {
    display: none;
  }
  .mobile-header.show {
    display: block;
    right: 0;
    top: max(10vh, 50px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    border-radius: 0 0 0 10%;
    padding: 10px;
    transition: 0.3s ease;
  }
  .header.scrolled .mobile-header.show {
    background-color: white;
    border: 2px solid #000;
  }
  .mobile-header .mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-bottom: 20px;
  }
  .mobile-header .mobile-account a {
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    margin-right: 10px;
  }
  .header.scrolled .mobile-account a {
    border: 2px solid #000;
  }
  .account {
    display: none;
  }
}
