.PopOp {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  z-index: 999999;
  aspect-ratio: 1.5/1;
  border: 5px solid #000;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
}

.PopOp-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.PopOp h1 {
  font-weight: bold;
}

.PopOp button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}

#oui {
  background-color: #4caf50; /* Green */
}

#non {
  background-color: #f44336; /* Red */
}
